name: C++ CI + Release

on:
  push:
    branches: [ master ]

permissions:
  contents: write 
jobs:
  build_and_release:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies (Ubuntu)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libx11-dev \
            libxrandr-dev \
            libudev-dev \
            libfreetype6-dev \
            libopenal-dev \
            libflac-dev \
            libvorbis-dev \
            libgl1-mesa-dev \
            libxcursor-dev \
            ninja-build

      - name: Install dependencies (Windows)
        if: runner.os == 'Windows'
        run: |
          choco install ninja -y --no-progress
          choco install cmake --installargs 'ADD_CMAKE_TO_PATH=System' -y --no-progress

      - name: Configure CMake
        run: cmake -G "Ninja" -S . -B build

      - name: Build
        run: cmake --build build --config Release

      - name: Install package
        run: cmake --install build --prefix package

      - name: Create archive
        run: |
          cd package
          if [[ "${{ matrix.os }}" == "windows-latest" ]]; then
            powershell Compress-Archive -Path * -DestinationPath ../physics-windows.zip
          else
            tar -czf ../physics-linux.tgz *
          fi

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: "build-${{ github.run_number }}"
          name: "Build ${{ github.run_number }}"
          body: "сборка"
          files: |
            physics-windows.zip
            physics-linux.tgz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
