name: C++ CI

on:
  push:
    branches: [ master ]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install dependencies (Ubuntu only)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libx11-dev \
            libxrandr-dev \
            libudev-dev \
            libfreetype6-dev \
            libopenal-dev \
            libflac-dev \
            libvorbis-dev \
            libgl1-mesa-dev \
            ninja-build

      - name: Install dependencies (Windows only)
        if: runner.os == 'Windows'
        run: choco install ninja -y

      - name: Configure CMake
        run: cmake -G "Ninja" -S . -B build

      - name: Build project
        run: cmake --build build --config Release

      - name: Install (package)
        run: cmake --install build --prefix package

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: physics-${{ matrix.os }}
          path: package/
